
.projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content{
  margin: -300px 360px 0;
}
.projname{
  margin: 0 110px 40px;
  font-family: 'Montserrat',  monospace;
  color: #2d2d2d;
}
.projpic{
  width: 500px;
  height: 516px;
  margin: 0 0 60px;
  
}
.projpicchill{
  width: 500px;
  height: 616px;
  margin: 0 0 60px;
}
.projpicblinds{
  width: 500px;
  height: 516px;
  margin: 0 0 60px;
}
