.container{
  color: #2D2D2A;
}
.navbuttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px 0;
  font-family: 'Montserrat', monospace;
  font-size: 30px;
  color: #2D2D2A;
 
}
.logo{
  width: 13%;
  margin: 40px 20px 0px;
}
.background{
  width: 500px;
  height: 500px;
  margin: -60px 970px 0;
}
.h1{
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150px;
  margin: -300px 10px 0;
}
.pic{
  margin: -280px 900px 0;
}
.content{
  display: flex;
  flex-direction: column;
  position: absolute;
}

